/* ========== General ========== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #010514;
}

/* ========== Navbar ========== */
.navbar {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.9);
}

.navbar-brand {
    color: #fedfb4;
    font-size: 2.8rem;
    font-weight: 600;
    font-family: 'Teko', sans-serif;
    text-shadow: 0 0 0.9em #eb0a42;
}

.navbar-brand:hover {
    color: #fedfb4;
}

.navbar-toggler {
    border: 2px solid #fff;
}

.nav-link {
    color: #fedfb4;
    font-weight: bold;
    font-size: larger;
    transition: 0.5s;
}

.nav-link:hover {
    color: #eb0a42;
}

.dropdown-menu {
    background-color: #010514;
}

.dropdown-item {
    color: #fb8700;
    font-weight: 600;
}

/* ========== Homepage ========== */

/* Intro */
.sort-details {
    padding: 150px 0;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
}

.heading-box {
    width: 600px;
}

.heading {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Alexandria', sans-serif;
    color: #fb8700;
    text-shadow: 0 0 0.9em #fb8700;
}

/* Dropdown Menu */
.algo-dropdown {
    width: 300px;
    position: relative;
}

.algo-dropdown * {
    box-sizing: border-box;
}

.select {
    background: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px #eb0a42 solid;
    box-shadow: 0 0 0.9em #eb0a42;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: 0.3s;
}

.caret {
    width: 0;
    height: 0;
    border-top: 6px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: #010514;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #2a2d35;
}

.active {
    background: 23242a;
}

.menu-open {
    display: block;
    opacity: 1;
}

.info-para {
    color: #fff;
    margin-top: 30px;
    text-shadow: 0 0 0.9em #fff;
}

/* Bars */
.sort-bars {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bars-container {
    display: flex;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}

.bar {
    background-color: red;
    border: 2px solid black;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* ========== Making the website responsive ========== */